* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body {
    background: rgb(27, 27, 27);
}


.container {
    display: flex;
    justify-content: center;
}
.card {

    background: white;
    width:270px;
    height:400px;
    margin:10px;
    border-radius: 15px;
}
.card-image {
    background-color: aqua;
    height:200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0 ;
}